# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Project specific
*.wav
*.pcm
data/audio/
results/



cpp-implement/third_party/onnxruntime-linux-x64-1.14.0
cpp-implement/third_party/onnxruntime-linux-x64-1.14.0
cpp-implement/third_party/asio/asio/asio.manifest
cpp-implement/third_party/asio/asio/boost_asio.manifest
cpp-implement/third_party/ffmpeg-master-latest-linux64-gpl-shared/